<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <!--<add name="CapstoneConnectionString" connectionString="Data Source=localhost;Initial Catalog=Capstone;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>-->
    <add name="RDSConnectionString"
     connectionString="server=capstone.cryquvejyjy3.us-east-1.rds.amazonaws.com,1433;database=Capstone;uid=admin;password=gummyworms1!;MultipleActiveResultSets=true;" />
  </connectionStrings>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>